.quantity-button {
  background-color: rgb(233, 28, 28);
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
.quantity-button:hover {
  background-color: rgb(39, 34, 34);
}
.delivered-button {
  background-color: rgb(233, 28, 28);
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
.delivered-button:hover {
  background-color: rgb(39, 34, 34);
}
.link {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: white;
}
.manageItem-button {
  background-color: rgb(233, 28, 28);
  transition: 0.3s;
}
.manageItem-button:hover {
  background-color: rgb(39, 34, 34);
}
.link:hover {
  color: white;
}

.from{
  position: relative;
}

.delivered-button{
  position: absolute;
  top: 67%;
  right: 100px;
}